.ih-item.circle.effect1 .selected:hover .info {
  opacity: 1;
}

.ih-item .selected:hover {
  text-decoration: none;
}

.ih-item.circle.effect1 .selected .spinner {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: rgb(68, 68, 68) rgb(68, 68, 68) rgb(68, 68, 68) rgb(68, 68, 68) ;
  border-image: none;
  border-radius: 50%;
  border-style: solid;
  border-width: 10px;
  height: 180px;
  transition: all 0.8s ease-in-out 0s;
  width: 180px;
}

.ih-item.circle.effect1 .selected  .info {
  opacity: 1;
}

.logout-btn {
	margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: 'aqua_grotesqueregular', serif;
  color: #ffffff;
}

textarea { 
  resize: vertical; 
}

.img-crop {
  height: 360px;
  width: 100%;
  object-fit: cover; // here
  -o-object-fit: cover;
}

.img-crop-guide {
  height: 120px;
  width: 100%;
  object-fit: cover; // here
  -o-object-fit: cover;
}

.btn-primary.btn-lg.slect-button {
  font-size: 25px !important;
  font-weight: bold;
}

.guide-submit-btn {
  margin-bottom: 5px;
}

.interest {
  font-size: 20px;
  margin-bottom: 15px;
}

.about-me {
  font-size: 20px;
  margin-bottom: 15px;
}

.submission-btn {
  height: 55px;
  line-height: 10px;
  margin-top: 10px;
  width: 150px;
}

.modal.fade .modal-dialog {
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}

.modal-dialog{
  width: 800px;
  margin-top: 200px;
}

.travel-title {
  font-size: 60px;
  text-shadow: 1px 1px #000;
}

.home-message {
  padding: 0px 0px;
}

.homeform {
  padding: 100px 0 40px;
}

.home-form .tab-pane {
  margin: 0px 300px 0px 300px;
  padding: 48px 34px 18px 34px;
}

.get-started {
  font-size: 25px;
  padding-top: 18px;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.description {
  font-size: 20px;
}

.service {
  text-transform: none;
  font-family:verdana;
  font-size: 22px;
}

.service a {
  color: black;
  font-size: 21px;
  font-weight: normal;
  font-family: verdana;
  text-transform: none;
}

.service-footer a {
  color: black;
  font-size: 25px;
  font-weight: bold;
  font-family: verdana;
  text-transform: none;
}

h3 {
  font-family: verdana;
  color: black;
  font-weight: normal;
  font-family: verdana;
  text-transform: none;
}

strong {
  color: #000;
}

/*Responsive CSS*/

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'roboto', sans-serif;
  color: #666;
  font-size: 16px;
  background: #f9f9f9;
  line-height: 1.6em;
}

ul, li {
  list-style: none;
}

#container {
  width: 60%;
  margin: 150px auto;
  overflow: auto;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.title {
  height: 40px;
  background: #6bb170;
  color: white;
  text-align: center;
  padding-top: 13px;
}

.faq li {
  padding: 20px;
}

.faq li.q {
  background: #4FC2E;
  font-weight: bold;
  font-size: 120%;
  border-bottom: 1px #ddd solid;
  cursor: pointer;
}

.faq li.a {
  background: #3BB0D6;
  display: none;
  color:#fff;
}

.rotate {
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
@media (max-width:800px) {
  #container {
    width: 90%;
  }
}

/* media query */
@media screen and (max-width: 990px) {
  .col-md-2 {
    width: 20.667%;
  }

  .travel-title {
    font-size: 50px;
  }

  .home-form .tab-pane {
    margin: 0 170px;
  }

  .col-xs-3 {
    width: 100%;
  }

  .col-sm-6 {
    width: 100%;
  }

  .col-sm-2 {
    width: 24.667%;
  }

  .col-sm-10 {
    width: 74.333%;
  }

  .post-media > a > img {
    margin: 0 auto;
    width: 50%;
  }

  .img-responsive.respons-img {
    width: 30%;
  }
}

@media screen and (max-width: 990px) {
  .home-message h1 {
    font-size: 35px;
  }

  .home-form .tab-pane {
    margin: 0 72px;
  }

  .col-sm-10 {
    width: 100%;
  }

  .col-sm-2 {
    width: 100%;
  }

  .hotel-title {
    text-align:center;
  }

  .hotel-title .left {
    margin:0 auto;
  }

  .vcenter {
    text-align:center;
  }

  .get-started {
    font-size: 19px;
  }
}

@media screen and (max-width: 1100px)and (min-width: 1000px) {
  .footer .form-control {
    width: 237px;
  }

  .col-md-5 {
    width: 39.667%;
  }
}

@media screen and (max-width: 500px) {
  .home-form .tab-pane {
    margin: 0 19px;
  }

  .home-contact h5 {
    font-size: 17px;
  }

  .form-control {
    height: 39px;
  }

  .home-contact {
    padding:30px;
  }

  .home-contact > p {
    font-size: 10px;
    font-weight: bold;
  }

  .header {
    padding: 0;
  }

  .navbar-collapse, .navbar {
    margin:0;
  }

  .topbar-social i {
    font-size:30px;
  }

  .navbar-brand-logo {
    display: none;
  }
}

.clearfix.navbar-brand-logo {
  margin-top: 0px;
}

.faq-text {
  font-size: 20px;
}

#below {
  font-size: 20px;
  color: black;
  border: 5px solid;
  border-top-color: transparent;
  border-left-color: #ffc926;
  border-right-color: #ffc926;
  border-bottom-color: #ffc926;
  background-color: #ffedb8;
}

.ih-item.circle.effect1 a .info {
  opacity: 1;
}

.ih-item.circle.effect1 a .info {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}

.ih-item.circle.effect1 a:hover .info {
  background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
}

.ih-item.circle.effect1 .selected .info {
  background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
}

.info-back h3 strong {
  color: #fff;
  background-color:rgba(0,0,0,0.6);
}

.dropdown-menu {
  background-color: #ffffff !important;
  border: 1px solid #666;
  border-top: 0;
  border-bottom: 0;
}

.bootstrap-select.btn-group .dropdown-menu li a span.text {
  color: #000 !important;
}

.btn.dropdown-toggle.selectpicker.btn-default {
  height: 50px;
  width: 500px;
  text-transform: none;
  font-family: 'open sans', serif;
  color: #666;
  background-color: #fff;
  border: 1px solid #dddddd;
  border-radius: 3px;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
}

.fa.fa-angle-down {
  color: #666;
}

.selectpicker li span {
  text-transform: none;
}

.btn-primary.btn-lg.guide-submit-btn, .submission-btn {
  font-size: 25px !important;
  width: 100%;
}

.hit-title {
  font-size: 28px;
  font-family: verdana;
  font-weight: bold;
  color: #000;
  margin-bottom: 35px;
  margin-top: 35px;
}

.hit-text {
  font-size: 22px;
  font-family: verdana;
  color: #000;
}

.section.clearfix.section-bottom .row:nth-child(4) {
  background: #FFC926;
}

.section.clearfix.section-bottom .row:nth-child(4) .hit-title {
  color: #525252;
  font-family: "aqua_grotesqueregular",serif;
  text-transform: uppercase;
}

.section.clearfix.section-bottom .row:nth-child(4) .hit-text {
  text-align: center !important;
  font-family: "aqua_grotesqueregular",serif !important;
  text-transform: uppercase;
  color:#525252;
  font-size:18px;
}

.section.clearfix.section-bottom .row:nth-child(4) .hit-text a{
  color:#fff;
}
